#electronicsbody{
    background-color: rgb(197, 197, 197);
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 20px;
    margin-top: -13px;
}
.itemName{
    font-weight: 600;
}
.itemprice{
    font-weight: 600;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns, each taking up an equal fraction of the available space */
    row-gap: 30px;
    column-gap: 30px;
}

.item{
    /* height: 40vw; */
}
.item img{
    background-color: white;
    width: 100%;
    height: 70%;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.item img:hover{
    background-color: rgb(235, 235, 235);
    padding: 13px;
}
.desc{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
}
